.layout {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f6f6f6;
}

.forms {
  margin: 0rem;
  background-color: #ffffff;
  width: 70%;
  height: auto;
  border-radius: 18px;
}

.logo {
  margin: 2rem auto 0rem auto;
}

.logo img {
  width: 45px;
  height: auto;
}

.button {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}
