.laptopForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.lapNameAndBrand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  border-bottom: 1px solid #C7C7C7;
  margin: 0.5rem 0 0.5rem 0 ;
  padding-bottom: 1rem;
}

.aboutCpu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0 ;
}
.ramAndType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  border-bottom: 1px solid #C7C7C7;
  margin: 0.5rem 0;
}
.dateAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 0.5rem 0 ;
}

.lowerButtons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.miniBackButton {
  background: none;
  border: none;
  color: #62a1eb;
  cursor: pointer;
  margin: 0.5rem 0 ;
}

.saveButton {
  width: 6.5rem;
  height: 1.7rem;
  background-color: #62a1eb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem 0 ;
}

