.layer {
  position: fixed;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  left: 0;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.maindiv {
  width: 70%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.middlediv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 0;
  
}

.underline {
  border-bottom: black solid 1px;
  padding-bottom: 30px;
}

.littlediv {
  display: flex;
  justify-content: space-between;
  flex: row;
  width: 330px;
}

.layer img {
  width: 100%;
  height: auto;
}

.layer Button {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.query {
  width: 140px;
}

.description {
  width: 140px;
}

.query p {
  font-size: 0.65rem;
  font-weight: bold;
}

.description p {
  font-size: 0.65rem;
  color: #797979;
}

.button {
  position: fixed;
  top: 33px;
  left: 55px;
  cursor: pointer;
  
}

.button ion-icon {
  
  background-color: #d9d9d9;
  border-radius: 50%;
  font-size: 30px;
  padding: 8px;
}

@media (max-width: 390px) {
  .layer {
    width: 100%;
    background-color: #ffffff;
  }

  .layer img {
    width: 100%;
  }
  .button {
    background: none;
    top: 5px;
    left: 5px;
  }

  .button ion-icon {
    font-size: 25px;
    color: #797979;
    background-color: white;
  }
  .maindiv {
    width: 90%;
  }

  .middlediv {
    flex-direction: column;
  }
  
}


