.select:focus,
.select:active  {
  outline: none;
}


.select {
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #ebebeb;
  margin: 10px;
  
}

.select option {
  background-color: #ffffff;
  border: none;
}