.email,
.invalidEmail {
  width: 80%;
  margin: 0.3rem 0;
}

.email label {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 0;
  font-weight: bold;
}
.invalidEmail label {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 0;
  font-weight: bold;
  color: #e52f2f;
}

.email input {
  width: 100%;
  height: 30px;
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;
}
.invalidEmail input {
  width: 100%;
  height: 30px;
  border: 1.8px solid #e52f2f;
  border-radius: 8px;
}

.email p {
  margin: 0.3rem 0;
  font-size: 0.6rem;
  color: #000000;
}
.invalidEmail p {
  margin: 0.3rem 0;
  font-size: 0.6rem;
  color: #e52f2f;
}

.email input:focus,
.email input:active,
.invalidEmail input:focus,
.invalidEmail input:active {
  outline: none;
}
