.number,
.invalidNumber {
  width: 80%;
}

.number label {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  margin: 0.4rem 0 0.2rem 0;
  font-weight: bold;
}

.invalidNumber label {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  color: #e52f2f;
  margin: 0.4rem 0 0.2rem 0;
}
.number input {
  width: 100%;
  height: 30px;
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;
  margin: 0.2rem 0;
}

.invalidNumber input {
  width: 100%;
  height: 30px;
  border: 1.8px solid #e52f2f;
  border-radius: 8px;
  margin: 0.2rem 0;
}

.number p {
  margin: 0.2rem 0 0.4rem 0;
  font-size: 0.6rem;
  color: #000000;
}
.invalidNumber p {
  margin: 0.2rem 0 0.4rem 0;
  font-size: 0.6rem;
  color: #e52f2f;
}

.number input:focus,
.number input:active,
.invalidNumber input:focus,
.invalidNumber input:active {
  outline: none;
}
