.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.header {
  margin: 1.2rem auto 2.5rem auto;
  text-align: center;
  align-items: center;
  font-size: 1.3rem;
}
.header img {
  width: 112px;
  height: auto;
}
.logoImg {
  margin: 0rem auto 0rem auto;
  align-items: center;
  text-align: center;
}

.nav {
  margin: 3rem auto;
  align-items: center;
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
}
.nav li {
  margin: 1rem auto;
  width: 14rem;
  background-color: #62a1eb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
}

.nav a {
  margin: 1rem auto;
  color: white;
  font-size: 85%;
  font-weight: lighter;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}
/* Media Query */
@media (min-width:391px) {
  .logoImgMob {
    display: none;
  }
}

@media (max-width:390px){
  .logoImg {
    display: none;
  }
  .logoImgMob {
    width: 90%;
    margin-bottom: 2rem;
    
  }
  .nav li {
    width: 18rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin: 1rem auto;
  }

}