
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/font/HelveticaNeue\ \(3\).ttc');
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: 'HelveticaNeue';
  font-size: 20px;
}

body {
  margin: 0;
  background-color: #ffffff;

}
