.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eafaff;
  border-radius: 20px;
  width: 450px;
  height: 128px;
  margin: 1rem;
}

.listItem img {
  width: 100px;
  height: auto;
}

.image {
  display: flex;
  justify-content: l;
}

.names {
  font-size: 0.8rem;
  margin: 0.5rem;
  background-color: #eafaff;
}

.button {
  font-size: 0.7rem;
  margin: 0.5rem;
  background-color: #eafaff;
  font-size: 0.7rem;
  cursor: pointer;
  color: #4386a9;
  text-decoration-line: underline;
}
