.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 100vh;
  object-fit: cover;
}

.header {
  margin: 0rem auto 3rem auto;
  text-align: center;
  align-items: center;
  font-size: 1.3rem;
}
.header img {
  width: 112px;
  height: auto;
}
.logoimg {
  margin: 0rem auto 3rem auto;
  align-items: center;
  text-align: center;
}

.logoimg img {
  align-items: center;
  text-align: center;
  border: none;
}

.nav {
  margin: 3rem auto;
  align-items: center;
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
}
.nav li {
  margin: 1rem auto;
  width: 15rem;
  background-color: #62a1eb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
}

.nav a {
  margin: 1rem auto;
  color: white;
  font-size: 85%;
  font-weight: lighter;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}
