.button {
  background: none;
  border: none;
  color: #62a1eb;
  cursor: pointer;
}

.saveButton {
  width: 5rem;
  height: 2rem;
  background-color: #62a1eb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.backButton {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

